@{
    ViewData["Title"] = "FAQ";
}

<!--<p>Use this page to detail your site's FAQ.</p>-->

<head>
    <!-- Boxicons CSS-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

    <!--Style import-->
    <link rel="stylesheet" href="~/css/FAQ.css" asp-append-version="true"/>
    <!--Script import-->
    <script type="module" src="~/js/FAQ.js" asp-append-version="true" defer></script>

</head>


<body>
<section class="faq-section">
    <!--Add H1 header here if needed-->
    <div class="FAQmenu">
        <div class="FAQelement" id="guide"> <!--1st element [GUIDE]-->
            <button class="FAQheader">
                ABC 
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>

        <div class="FAQelement"> <!--2nd element-->
            <button class="FAQheader">
                ABC
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>
        
        <div class="FAQelement"> <!--3rd element-->
            <button class="FAQheader">
                ABC
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>

    </div>
</section>
</body>