@{
    ViewData["Title"] = "FAQ";
}

<head>
    <!-- Boxicons CSS-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

    <!--Style import-->
    <link rel="stylesheet" href="~/css/FAQ.css" asp-append-version="true"/>
    <!--Script import-->
    <script type="module" src="~/js/FAQ.js" asp-append-version="true" defer></script>

</head>


<body>
<section class="faq-section">
    <!--Add H1 header here if needed-->
    <h1>Instrukcje aplikacji AirMap i Często zadawane pytania.</h1>
    <div class="FAQmenu">
        <h3>Instrukcje</h3>
        <div class="FAQelement" id="guide"> <!--1st element [GUIDE]-->
            <button class="FAQheader">
                Jak wyznaczać trasę?
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>

        <div class="FAQelement" id="guideMenu">
            <!--2nd element-->
            <button class="FAQheader">
                Jak działa menu użytkownika na mapie?
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>

        <h3>Często zadawane pytania</h3>
        <div class="FAQelement"> <!--3rd element-->
            <button class="FAQheader">
                Skąd AirMap pozyskuje dane dotyczące jakości powietrza?
                <span class="icon">
                    <!-- Down Arrow -->
                    <i class="bx bx-down-arrow-alt bx-tada down-arrow active"></i>

                    <!-- Up Arrow -->
                    <i class="bx bx-up-arrow-alt bx-tada up-arrow hidden"></i>
                </span>
            </button>
            <div class="FAQelementText hidden">
                <p>
                    Abcdefg
                </p>
            </div>
        </div>

    </div>
</section>
</body>