@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's FAQ.</p>
<head>
    <!--Style import-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>




</body>