@using AirMap.Controllers;
@using Microsoft.Extensions.Options
@inject IOptions<SocialMediaLinks> SocialMediaLinks


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirMap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.jpeg" alt="AirMap" /></a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="menu-button">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">|&nbsp; Strona Główna &nbsp;|</a>
                        </li>
                        <li class="menu-button">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">|&nbsp; Polityka Prywatności &nbsp;|</a>
                        </li>
                        <li class="menu-button">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">|&nbsp; FAQ &nbsp;|</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid wide-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div id="footerText">
            <span>
                <a asp-controller="Home" asp-action="Index">&copy; 2025 AirMap</a>, by <a href="@SocialMediaLinks.Value.Developer" target="_blank" rel="noopener noreferrer">Dawid Czernik</a>
                &nbsp; | &nbsp;<a  asp-controller="Home" asp-action="Privacy" target="_blank">Polityka prywatności</a> 
                &nbsp; | &nbsp;<a  asp-controller="Home" asp-action="TOS" target="_blank">Regulamin</a> <!-- TODO: fill in links for sub-sites -->
                &nbsp;| &nbsp;<a  asp-controller="Home" asp-action="Cookies" target="_blank">Ciasteczka</a> 
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    
    <!--Include "Cookies" cshtml file.-->
    @await Html.PartialAsync("Components/cookiesWindow")
    
    
    </body>
</html>
